.genderForm {
	display: flex;
	flex-direction: column;
}

.genderForm > input {
	margin-bottom: 3px;
}

.genderForm > button {
	background-color: aquamarine;
	border: 3px;
	border-color: white;
}
.errors {
	color: red;
   position: absolute;
   right: 30%;
  

}